.DivAlert {
	position: fixed;
	top: 5%;
	right: 5%;
	z-index: 1;
	font-family: "Lucida Console";
	font-size: 200;
	background-color: violet;
	border: solid;
	display: none;
}

.DivUsers {
	position: fixed;
	top: 10%;
	left: 10%;
	width: 25%;
	height: 80%;
	color: black;
	background-color: lightgreen;
	text-align: left;
}

.DivChat {
	position: fixed;
	top: 10%;
	left: 35%;
	width: 55%;
	height: 60%;
	color: black;
	background-color: lightblue;
	/*text-align: left;*/
}

.DivSend {
	position: fixed;
	top: 70%;
	left: 35%;
	width: 55%;
	height: 20%;
	color: black;
	background-color: lightgrey;
	/*text-align: left;*/
}

